li.hide
  a.menu(href='/') Welcome,
    span.display-name
li
  a.menu(href='/') Home
li.hide
  a.menu(href='/profile') Profile
li.hide
  a.menu(href='/logout') Logout
li#login-link
  a.menu(href='/auth/twitter') Login
