style(type='text/css').
  .display-name {
    margin-left: 5px;
  }

nav(role='navigation')
  .nav-wrapper.container
    a#logo-container.brand-logo(href='#') Js Stock
    ul.right.hide-on-med-and-down
      include _nav-bar-list.pug
    ul#nav-mobile.side-nav(style='left: 0px;')
      include _nav-bar-list.pug
    a.button-collapse(
      href='#', data-activates='nav-mobile'
    )
      i.material-icons menu

script.
  $( document ).ready(function() {
    $(".button-collapse").sideNav();
  });
